#custom-input-wrapper {
  width: 100%;
  position: relative;
}

.close {
  position: relative;
  cursor: pointer;
}

.close:after {
  content: "";
  height: var(--height);
  border-left: var(--lineStyle);
  position: absolute;
  transform: rotate(45deg);
  right: var(--positionRight);
  top: var(--positionTop);
}

.close:before {
  content: "";
  height: var(--height);
  border-left: var(--lineStyle);
  position: absolute;
  transform: rotate(-45deg);
  right: var(--positionRight);
  top: var(--positionTop);
}

.custom-input-with-cross-btn {
  cursor: auto;
}

.dropdown {
  position: absolute;
  left: 0;
  top: var(--inputHeight);
  width: var(--dropdownWidth);
  height: var(--dropdownHeight);
  background: #fff;
  max-height: 150px;
  overflow: scroll;
}
